
body{
	background: dimgrey;
	/*font-family: fantasy;*/
}
.grupo{
	border: 1px solid #afafaf;
	background: floralwhite;
}
.caja{

	background: #4752d2;
	color: white;
	margin: 0 -16px 0 -16px;
	padding: 2px;
	/*box-shadow: 13px 10px 33px 8px rgba(0,0,0,0.75);*/
}
.imagenes{
	margin: 9px -55px 0px 0px;
}
